[submodule "py_matrix_host"]
	path = py_matrix_host
	url = https://github.com/FernandoSchett/python_MM_host_uart.git
[submodule "parameter_optimization"]
	path = parameter_optimization
	url = ../parameter_optimization.git
